<h2><%= "#{@group.name}の#{@month.month}月の希望休" %></h2>

<%#= form_with(local: true, url: group_group_sesired_holiday_path, method: :get, scope: :group) do |f| #%>
  <div>
    <%#= f.label :"確認したい月を選んでください" #%>
    <%#= f.date_select :month, discard_day:true, use_month_numbers:true, start_year:Date.parse(@group.created_at.to_s).year-1, end_year:Date.current.year+200 #%>
    <%#= f.submit "検索" #%>
  </div>
<%# end #%>
<br>
<% if @sesired_holidays.present? %>
  <table>
    <% @sesired_holidays.each do |sesired_holiday| %>
      <tr>
        <td><%= "#{sesired_holiday.my_holiday}" %></td>
        <td><%= "#{sesired_holiday.user.name}さん" %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>まだ希望休が申請されていません</p>
<% end %>
<br>
<br>
<%= link_to "#{@group.name}に戻る", group_path(@group) %>
<br>
