<h2><%= "#{@group.name}" %></h2>

<br>
<table>
  <tr>
    <th>社員名簿</th>
    <th colspan="2"></th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
    </tr>
  <% end %>
  
</table>
<br>
<%= link_to "ユーザーを招待する", new_group_path %>
